
extends ../layout

block variables
  - var pageID = 'editor'
  - var pageTitle = 'Markdown Editor'

block main
  aside.ui-grid-30.ui-mobile-expand
    include toolset
  article.ui-grid-70.ui-mobile-expand
    h3.ui-header-primary Markdown Editor
