
extends toolset

block variables
  - var pageID = 'tools/research'
  - var pageTitle = 'Open Access Research'

block article
  h3.ui-header-primary Open Access Research
  p We provide a list of some online resources whose content at least of the majority can be open accessed.
  section
    h4.ui-header-compact Repositories
    ul
      li
        a(href='http://arxiv.org/' target='_blank') arXiv
        | : an eprint archive for physics, mathematics, computer science, quantitative biology, quantitative finance and statistics
      li
        a(href='http://biorxiv.org/' target='_blank') bioRxiv
        | : a preprint server for biology, operated by Cold Spring Harbor Laboratory
      li
        a(href='http://citeseerx.ist.psu.edu/' target='_blank') CiteSeerX
        | : a search engine on the literature in computer and information science
      li
        a(href='http://repec.org/' target='_blank') RePEc
        | : research papers in economics collected by hundreds of volunteers
  section
    h4.ui-header-compact Digital Libraries
    ul
      li
        a(href='http://dlmf.nist.gov/' target='_blank') DLMF
        | : NIST Digital Library of Mathematical Functions
      li
        a(href='https://doaj.org/' target='_blank') DOAJ
        | : Directory of Open Access Journals
      li
        a(href='http://projecteuclid.org/' target='_blank') Project Euclid
        | : mathematics and statistics online
  section
    h4.ui-header-compact Academic Publishers
    ul
      li
        a(href='http://biomedcentral.com/' target='_blank') BioMed Central
        | : peer-reviewed open access research in biology and medicine
      li
        a(href='http://chemistrycentral.com/' target='_blank') Chemistry Central
        | : peer-reviewed open access research in chemistry
      li
        a(href='http://hindawi.com/' target='_blank') Hindawi
        | : a publisher with more than 400 peer-reviewed open access journals
      li
        a(href='http://plos.org/' target='_blank') PLOS
        | : a nonprofit publisher and advocate of open access research
      li
        a(href='http://springeropen.com/' target='_blank') SpringerOpen
        | : Springer’s portfolio of peer-reviewed open access journals and books
  section
    h4.ui-header-compact Slides &amp; Videos
    ul
      li
        a(href='http://sms.cam.ac.uk/' target='_blank') Cambridge SMS
        | : videos and audios at the University of Cambridge
      li
        a(href='http://video.ias.edu/' target='_blank') IAS Video Lectures
        | : lectures and workshops at the Institute for Advanced Study
      li
        a(href='http://online.itp.ucsb.edu/' target='_blank') KITP Online
        | : slides and audio-visuals of talks at KITP of UCSB
      li
        a(href='http://pirsa.org/' target='_blank') PIRSA
        | : Perimeter Institute Recorded Seminar Archive
  section
    h4.ui-header-compact Communities
    ul
      li
        a(href='http://gitxiv.com/' target='_blank') GitXiv
        | : collaborative open computer science
      li
        a(href='http://mathoverflow.net/' target='_blank') MathOverflow
        | : a question and answer site for professional mathematicians
      li
        a(href='http://ncatlab.org/' target='_blank') nLab
        | : a wiki-lab for collaborative work on mathematics, physics and philosophy
      li
        a(href='http://polymathprojects.org/' target='_blank') Polymath
        | : massively collaborative mathematical projects
      li
        a(href='http://scholarpedia.org/' target='_blank') Scholarpedia
        | : the peer-reviewed open-access encyclopedia
      li
        a(href='https://scienceopen.com/' target='_blank') ScienceOpen
        | : a research network to share and evaluate scientific information
