
h3.ui-header-primary Toolset
ul.ui-list-group.ui-block-fluid.ui-zoom-large.ui-text-capitalize
  mixin link(page, text)
    li(class=(pageID === page ? 'ui-state-active' : ''))
      a(href='/#{page}')= text
  +link('terminal', 'Terminal Emulator')
  +link('tools/parser', 'Expression Parser')
  +link('tools/editor', 'Markdown Editor')
