
extends layout

block variables
  - var pageID = 'search'
  - var queryString = searched ? location.replace(/^\/search\?/, '') : ''
  - var pageTitle = __('search.heading') + (queryString ? ' ' + queryString : '')

block main
  if searched
    include search/show
  else
    include search/interface

block append foot
  if searched
    //- Options for displaying search results
    script(src='#{appStorage}/javascripts/search-1.0.1.min.js')
