
extends tools/toolset

block variables
  - var pageID = 'tools'
  - var pageTitle = __('tools.heading')

block article
  h3.ui-header-primary Overview
  p.
    To suggest a tool that can be integrated into this website, please create  #[a(href='https://github.com/arxitics/arxiv-analytics/issues' rel='external' target='_blank') issues] at our GitHub repository or contact us by email #[strong help#[span(aria-hidden='true')= Math.random().toString().slice(1, 8)]@arxitics.com].
