
extends layout

block variables
  - var pageID = 'visual'
  - var pageTitle = 'Data Visualization'

block append head
  style.
    #chart path {
      stroke: #FFF;
      fill-rule: evenodd;
      cursor: pointer;
    }
    #tooltip {
      position: absolute;
      padding: .4em 1em;
      font-size: 85%;
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid #999;
      border-radius: .2em;
      pointer-events: none;
    }
block main
  article.ui-container-fluid.ui-mobile-expand
    h3.ui-header-primary.ui-text-left-right
      span Data Visualization
      span.ui-text-list.ui-font-medium(role='navigation')
        - var tabs = ['categories', 'keywords', 'journals', 'authors']
        each tab in tabs
          - var link = '/visual' + (tab === 'categories' ? '' : '?type=' + tab)
          - var text = tab.charAt(0).toUpperCase() + tab.slice(1)
          a(class=(tab === type ? 'ui-text-active' : false) href=link)= text
    if type === 'categories'
      section#chart.ui-fluid-60.ui-mobile-expand.ui-block-center.ui-text-center
        h4 Number of arXiv eprints counted by primary categories

block append foot
  script(src='#{appStorage}/javascripts/d3-3.4.11.min.js')
  if type === 'categories'
    script(src='#{appStorage}/javascripts/sunburst-1.0.1.min.js')
