
extends ../layout

block variables
  - var articleID = 'arXiv:' + id
  - var pageTitle = articleID + ' ' + __(pageID + '.heading')

block main
  article.ui-container-fluid.ui-mobile-expand
    h3.ui-header-primary.ui-text-left-right
      span#eprint-id= citeAs(eprint)
      span.ui-text-list.ui-font-medium(role='navigation')
        each page in ['abstract', 'references', 'reviews', 'resources']
          - var link = '/articles/' + id + (page === 'abstract' ? '' : '/' + page)
          if page === pageID
            a.ui-text-active(href=link)= __(page + '.heading')
          else 
            a(href=link)= __(page + '.heading')
    block content
