
section
  h4.ui-header-compact How to Format
  ul
    li Paragraphs are separated by two newlines.
    li End a line with two spaces to add a linebreak.
    li Blockquotes are indicated using email-style 
      code &gt;
      |  angle brackets.
    li Use one asterisk for 
      code: em *italic*
      |  and two asterisks for 
      code: strong **bold**
      | .
    li Unordered lists use asterisks, pluses, and hyphens as list markers.
    li Ordered lists use regular numbers, followed by periods, as list markers.
    li Inline-style links can be written like 
      code= '[foo](http://foo.com/ "Title")'
      | .
    li Images are exactly like links, but they have an exclamation mark  
      code !
      |  in front of them.
    li Use single dollar signs to delimit inline equations and double dollars for blocks.
