
extends site

block prepend variables
  - var pageID = 'contribute'

block content
  section
    h4.ui-header-compact GitHub repositories
    div
      p.
        We have created an organization named #[a(href='https://github.com/arxitics' rel='external' target='_blank') Arxitics] on GitHub. Please join us to contribute your code or open #[a(href='https://github.com/arxitics/arxiv-analytics/issues' rel='external' target='_blank') issues]. You can also submit improvements or request new features by contacting us at #[strong help#[span(aria-hidden='true')= Math.random().toString().slice(1, 8)]@arxitics.com] or sending messages to #[code.ui-color-emphasis 999 &lt;service&gt;].
