
extends site

block prepend variables
  - var pageID = 'disclaimer'

block content
  section
    h4.ui-header-compact Avalability of service
    div
      p.
        We do not warrant that the website will be available at all times or that it is error free. Although we will make reasonable efforts to store and preserve the material residing on our server, we are not responsible or liable in any way for the failure to store, preserve or access the data you post on our website. You should take measures to preserve copies by yourselves.
  section.ui-skip-large
    h4.ui-header-compact Validity of information
    div
      p.
        The project allows registered users to post materials and to alter some metadata of eprints. We accept no liability for the accuracy, completeness, currency or truth of any of the information contained in the website.
  section.ui-skip-large
    h4.ui-header-compact Third party websites
    div
      p.
        Certain links on the website may lead to other websites which are not under our control. The use of third party websites is entirely at your own risk and we accept no liability for the content of any linked site or any link contained in a linked site. Links provided on the website are provided to you only as a convenience and the inclusion of any link does not imply reliability and endorsement by us of the content of any third party's website.
      p.
        Thank you for taking the time to read this page, and please enjoy your use of arXiv Analytics.
