
extends site

block prepend variables
  - var pageID = 'terms'

block content
  section
    h4.ui-header-compact Accepting the terms
    div
      p This page sets out the terms and conditions on which you may make use of our website. Please read these terms of service carefully before you start to use the site. 
        strong By using our service, you indicate that you accept these terms and that you agree to abide by them.
  section.ui-skip-large
    h4.ui-header-compact Statement of terms
    div
      p
      ol
        li You should not post any irrelevant or inappropriate content on our website.
        li You ensure that you understand and accept our 
          a(href='/site/privacy') privacy policy
          |  and 
          a(href='/site/disclaimer') disclaimer
          | .
        li You ensure that your use of website content will abide by our copyright polices.
        li We reserve the rights to modify, block, or delete any content on our website.
  section.ui-skip-large
    h4.ui-header-compact Copyright policies
    div
      p Most articles on arXiv.org are submitted with the 
        a(href='http://arxiv.org/licenses/nonexclusive-distrib/1.0/' rel='external' target='_blank') default arXiv license
        |  which grants arXiv a perpetual, non-exclusive license to distribute the article but does not grant any specific rights to others. So we link back to arXiv.org for downloading full-text articles.
      p We treat reviews, comments, analyses, statistical data, and eprint metadata not directly retrieved from arXiv.org as user contributions. All the content in this part is licensed under a 
        a(href='http://creativecommons.org/licenses/by-sa/4.0/' rel='external' target='_blank')
          abbr(title='Creative Commons Attribution-ShareAlike 4.0 International') CC BY-SA 4.0
        |  license. You are free to
      ul
        li
          strong Share
          |  &mdash; copy and redistribute the material in any medium or format
        li
          strong Adapt
          |  &mdash; remix, transform, and build upon the material for any purpose, even commercially.
      p No one can revoke these freedoms as long as you follow the license terms:
      ul
        li
          strong Attribution
          |  &mdash; You must give appropriate credit, provide a link to the license, and indicate if changes were made.
        li
          strong ShareAlike
          |  &mdash; If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.
      p Please note that no warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.
      p If you have any additional questions about these terms and licensing policies, please contact us at 
        strong help
          span(aria-hidden='true')= Math.random().toString().slice(1, 8)
          | @arxitics.com
        | .
