
extends help

block prepend variables
  - var pageID = 'help-accounts'
  - var pageHeading = 'User Accounts'

block content
  div
    p Please read our 
      a(href='/site/terms') terms of service
      |  and  
      a(href='/site/privacy') privacy policy
      |  first before using this website. An email is required to create a user account. You can also visit our site as a guest, but a guest is not allowed to customize and to post any content.
