
extends help

block prepend variables
  - var pageID = 'help-categories'
  - var pageHeading = 'List of Categories'

block content
  .ui-skip-large
    ul.ui-nav-stacked.ui-nav-justified.ui-text-capitalize(role='tablist')
      each entry in groups
        - var label = entry.label
        - var link = '/help/categories' + (label === 'physics' ? '' : '?group=' + label)
        li(class=(tab === label ? 'ui-state-active' : '') role='tab')
          a(href=link)= entry.group
    ul
      each theme in themes
        li
          strong= theme.category
          span : #{theme.description}
