
extends ../layout

block variables
  - var pageID = 'help-general'
  - var pageTitle = 'General Information'

block main
  article.ui-container-fluid.ui-mobile-expand
    include navigation
    .ui-grid-80.ui-offset-10.ui-mobile-expand
      section
        h4.ui-header-compact General Information
        div
          p ArXiv Analytics is a web portal that offers more features and a better user interface for reading eprints provided by 
            a(href='http://arxiv.org/' rel='external' target='_blank') arXiv.org
            | . You can search, subscribe, bookmark, review eprints, and interact with the community.
          p We have made great efforts in classifying, filtering, and evaluating eprints. For PDF and TeX source files, we directly link them to arXiv.org. User contributions are licensed under 
            a(href='http://creativecommons.org/licenses/by-sa/4.0/' rel='external' target='_blank')
              abbr(title='Creative Commons Attribution-ShareAlike 4.0 International') CC BY-SA 4.0
            | .
          p If you have any questions that cannot be resolved by these help pages, please don't hesitate to contact us by email 
            strong help
              span(aria-hidden='true')= Math.random().toString().slice(1, 8)
              | @arxitics.com
            |  or sending messages to 
            code 999 &lt;service&gt;
            | . Besides, you can also ask for help in the 
            a(href='/chat') chat room
            | .
