
extends help

block prepend variables
  - var pageID = 'help-interactions'
  - var pageHeading = 'Interactions with the Community'

block content
  div
    p We encourage frank, open, and constructive conversation, but frankness doesn't mean lack of civility or lack of respect for others.
