
extends ../layout

block variables
  - var pageID = 'help-interactions'
  - var pageTitle = 'Interactions with the Community'

block main
  article.ui-container-fluid.ui-mobile-expand
    include navigation
    .ui-grid-80.ui-offset-10.ui-mobile-expand
      section
        h4.ui-header-compact Interactions with the Community
        div
          p We encourage frank, open, and constructive conversation, but frankness doesn't mean lack of civility or lack of respect for others.
