
extends help

block prepend variables
  - var pageID = 'help-journals'
  - var pageHeading = 'List of Journals'

block content
  .ui-skip-large
    ul.ui-nav-stacked.ui-nav-justified.ui-text-capitalize(role='tablist')
      each entry in groups
        - var label = entry.label
        - var link = '/help/journals' + (label === 'physics' ? '' : '?group=' + label)
        li(class={'ui-state-active': tab === label} role='tab')
          a(href=link)= entry.group
  ul
    each journal in journals
      li
        strong= journal.label
        span : #{journal.title}
        | , 
        span.ui-text-muted= journal.publisher
