
extends help

block prepend variables
  - var pageID = 'help-ratings'
  - var pageHeading = 'Guidelines for Rating Articles'

block content
  div
    p To help assess the quality of eprints, a registered user can rate an article which has been marked as read. The rating should be based on 
      strong originality
      |  and 
      strong trustworthiness
      | . The highest score of each criteria is 5 and you take their average as the final score. If you do not understand the article very well, please do not rate it. Also note you will lose 1 reputation for each rating.
    p To avoid the overbroad interpretation of rating scores, we don't display this information in an accessible way. At present, they are only used in one of the sort options for searching eprints. Since you can't see others' ratings, you should judge the quality of an article based on your own criteria.
