
extends help

block prepend variables
  - var pageID = 'help-search'
  - var pageHeading = 'Searching and Browsing'

block content
  div
    p Search is the backbone of our service. We have made great efforts in improving this functionality not only on its speed but also on the data mining in depth. Three interfaces are provided to meet user needs on different levels.
