
extends ../layout

block variables
  - var pageID = 'help-search'
  - var pageTitle = 'Searching and Browsing'

block main
  article.ui-container-fluid.ui-mobile-expand
    include navigation
    .ui-grid-80.ui-offset-10.ui-mobile-expand
      section
        h4.ui-header-compact Searching and Browsing
        div
          p Search is the backbone of our service. We have made great efforts in improving this functionality not only on its speed but also on the data mining in depth. Three interfaces are provided to meet user needs on different levels.
