
extends help

block prepend variables
  - var pageID = 'help-tips'
  - var pageHeading = 'Tips for Beginners'

block content
  .ui-skip-small
    ul
      li You are strongly recommended to read all the pages in our help center and the 
        a(href='http://oss.arxitics.com/slides/user-guide/index.html' rel='external' target='_blank') user guide
        | .
      li All the data you will post on our website should be restricted to 
        a(href='http://en.wikipedia.org/wiki/ASCII' rel='external' target='_blank') ASCII
        |  characters only.
      li Be serious about your actions: votings are irrevocable; reviews, comments, and messages cannot be deleted.
      li We use the ISO date in our database, which can be described as 
        code.ui-color-emphasis yyyy-mm-ddThh:mm:ss.sssZ
        | . The timezone is always UTC.
