
extends help

block prepend variables
  - var pageID = 'help-topics'
  - var pageHeading = 'List of Themes and Topics'

block content
  .ui-skip-large
    ul.ui-nav-stacked.ui-nav-justified.ui-text-capitalize(role='tablist')
      each entry in groups
        - var label = entry.label
        - var link = '/help/topics' + (label === 'physics' ? '' : '?group=' + label)
        li(class={'ui-state-active': tab === label} role='tab')
          a(href=link)= entry.group
    .ui-columns-2
      ul
        each theme in themes
          li
            - var topics = theme.topics
            strong= theme.category
            if topics.length
              ul
                each topic in topics
                  li= topic
