
extends help

block prepend variables
  - var pageID = 'help-types'
  - var pageHeading = 'List of Resource Types'

block content
  div
    p Resource types are used to classify supplementary resources of arXiv eprints and users' documents.
    ul
      each entry in types
        li
          strong= entry.type
          | : #{entry.description}
