
extends ../layout

block variables
  - var pageID = 'help-updates'
  - var pageTitle = 'Project Updates'

block main
  article.ui-container-fluid.ui-mobile-expand
    include navigation
    .ui-grid-80.ui-offset-10.ui-mobile-expand
      section
        h4.ui-header-compact Project Updates
        div.ui-skip-small
          ul
            li
              strong 2014-07-13
              | : Public beta begins
