
extends help

block prepend variables
  - var pageID = 'help-updates'
  - var pageHeading = 'Project Updates'

block content
  .ui-skip-small
    ul
      li
        strong 2015-06-05
        | : New features for the abstract page &mdash; related articles, saving eprint metadata as JSON, sharing articles on social media.
      li
        strong 2015-05-16
        | : Version 0.3.0; Real-time chat built with WebSocket; Enhanced search syntax and redirects; Citation counts from InspireHEP and NASA ADS; Experimental version of expression paser based on Math.js; User guide created by Shower Presentation Engine.
      li
        strong 2014-11-02
        | : Version 0.2.0; Open Storage Service powered by Arxitics OSS; Bookmarks, reviews and comments; Share unpublished documents; Article recommendations; Data visualization with D3.js; Improved documentation.
      li
        strong 2014-07-13
        | : Version 0.1.0; Backend built on Node.js and Express; Frontend built on UI Schema; Search engine powered by MongoDB.
