
extends ../layout

block variables
  - var userID = 'User: ' + uid + ' <' + profile.name + '>'
  - var pageTitle = userID + ' ' + __(pageID + '.heading')

block main
  article.ui-container-fluid.ui-mobile-expand
    h3.ui-header-primary.ui-text-left-right
      span= userID
      span.ui-text-list.ui-font-medium(role='navigation')
        - var authorizedLinks = ['profile', 'preferences', 'bookmarks', 'publications', 'documents', 'messages']
        - var guestLinks = ['profile', 'bookmarks', 'publications', 'documents']
        - var links = (authorized) ? authorizedLinks : guestLinks
        - var notifications = user.notifications.length
        each page in links
          - var link = '/users/' + uid + (page === 'profile' ? '' : '/' + page)
          a(class={'ui-text-active': page === pageID} href=link)= __(page + '.heading')
            if page === 'messages' && notifications >= 1
              |  
              span.ui-text-danger (#{notifications})
    block content
