
extends ../layout

block variables
  - var pageID = 'users'
  - var pageTitle = 'Users'

block main
  article.ui-container-fluid.ui-mobile-expand
    h3.ui-header-primary.ui-text-left-right
      span Users
      span.ui-text-list.ui-font-medium(role='navigation')
        - var tabs = ['reputation', 'publications', 'reviews', 'comments', 'votes', 'readings', 'ratings']
        each tab in tabs
          - var link = '/users' + (tab === 'reputation' ? '' : '?sort=' + tab)
          - var text = tab.charAt(0).toUpperCase() + tab.slice(1)
          a(class=(tab === type ? 'ui-text-active' : false) href=link)= text
