/*!
 * Core
 */

/**
 * Set default font size to 10pt.
 */

html {
  font-size: 50%;
}

/* SVGA 800x600 */
@media (min-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

/* XGA 1024x768 */
@media (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
}

/* WXGA 1280x800 */
@media (min-width: 1248px) {
  html {
    font-size: 68.75%;
  }
}

/* HD 1366x768 */
@media (min-width: 1334px) {
  html {
    font-size: 75%;
  }
}

/* WXGA+ 1440x900 */
@media (min-width: 1408px) {
  html {
    font-size: 81.25%;
  }
}

/* HD+ 1600x900 */
@media (min-width: 1568px) {
  html {
    font-size: 87.5%;
  }
}

/* FHD 1920x1080 */
@media (min-width: 1888px) {
  html {
    font-size: 93.75%;
  }
}

/* QWXGA 2048x1152 */
@media (min-width: 2016px) {
  html {
    font-size: 100%;
  }
}

@media print {
  html {
    font-size: 8pt;
  }
}

/**
 * 1. Set `line-height` to 20/14.
 * 2. Emphasize geometric precision over rendering speed and legibility.
 */

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Droid Sans Fallback", "Source Han Sans CN", "Microsoft YaHei", "Apple LiGothic Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 1.42857; /* 1 */
  text-rendering: geometricPrecision; /* 2 */
}

/**
 * 1. Justify content text on both sides.
 */

main {
  margin: 4rem 0 3rem; /* 1 */
  min-height: 60vh;
}

article,
aside {
  margin-bottom: 1rem;
}

header {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  margin: .8em 0;
  line-height: 1.42857;
  orphans: 2;
  widows: 2;
}

/* Links
   ========================================================================== */

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #3071a9;
}

/**
 * Set cursor for placeholder hyperlink without the `href` attribute.
 */

a:not([href]) {
  cursor: pointer;
}

/* Embedded content
   ========================================================================== */

audio,
video {
  width: 100%;
}

/**
 * Specify nearest-neighbor upscaling and "auto" downscaling.
 * Only available in Chrome 41+ or Opera 26+.
 */

canvas {
  image-resizing: pixelated;
}

i {
  display: inline-block;
  font-style: normal;
  height: 1.25em;
  vertical-align: text-bottom;
}

i > svg {
  fill: currentColor;
  height: 100%;
  overflow: visible;
  stroke: none;
  width: 100%;
}

img {
  vertical-align: middle;
}

/**
 * 1. Reset the default appearance of progress in Chrome.
 */

progress {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  background-color: #f5f5f5;
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  color: #428bca;
  height: 1.5em;
  overflow: hidden;
  width: 100%;
}

progress::-moz-progress-bar {
  background-color: #428bca;
}

progress::-ms-fill {
  border: 0;
}

progress::-webkit-progress-bar {
  background-color: #f5f5f5;
  border-radius: .5em;
}

progress::-webkit-progress-value {
  background-color: #428bca;
}

/**
 * Reset the appearance for the indeterminate state in Firefox.
 */

progress:not([value])::-moz-progress-bar {
  background-color: #f5f5f5;
}

/* Grouping content
   ========================================================================== */

address {
  font-style: normal;
  line-height: 1.71428;
  margin-bottom: 1em;
}

blockquote {
  border-left: .4em solid #eee;
  font-size: 125%;
  margin: 0 0 1.6em;
  overflow: hidden;
  padding: .5em 1em;
}

blockquote > footer {
  font-size: 80%;
  text-align: right;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: .4em;
  display: block;
  padding: .6em;
  word-break: break-all;
}

pre > code {
  white-space: pre-wrap;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* Lists
   ========================================================================== */

/**
 * Set `line-height` to 24/14.
 */

dl,
ol,
ul {
  line-height: 1.71428;
  margin: 0 0 1em;
}

ol,
ul {
  padding-left: 3rem;
}

dl dl,
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 .5em;
}

/* Forms
   ========================================================================== */

form {
  display: inline-block;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: .4rem;
  margin: 1.5em 0;
  padding: .8em 1.2em;
}

legend {
  color: #999;
  padding: 0 .4em;
}

button,
input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: .4rem;
  display: inline-block;
  outline: none;
  padding: .4em .8em;
}

button {
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

button:focus,
button:hover {
  background-color: #ebebeb;
}

input {
  background-color: #fff;
  height: 1.42857em;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 .4em rgba(102, 175, 233, .6);
}

input:invalid,
textarea:invalid {
  border-color: #a94442;
}

input:invalid:focus,
textarea:invalid:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 .3em #ce8483;
}

input[type="checkbox"],
input[type="file"],
input[type="radio"],
input[type="range"] {
  border: none;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
}

input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="range"]:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

input[type="file"] {
  height: 2.34694em;
  width: 100%;
}

input[type="file"]::-ms-browse,
input[type="file"]::-ms-value {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: .4rem;
  padding: .4em .8em;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: .4rem;
  cursor: pointer;
  outline: none;
  padding: .4em .8em;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-moz-focus-outer {
  border: none;
}

input[type="range"]::-moz-range-track {
  background: #ddd;
  border: none;
  border-radius: .2em;
  height: .4em;
  width: 100%;
}

input[type="range"]::-moz-range-thumb {
  background: #428bca;
  border: none;
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
}

input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: .2em;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: .2em;
}

input[type="range"]::-ms-thumb {
  background: #428bca;
  border: none;
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: .4em 0;
  color: transparent;
  cursor: pointer;
  height: .4em;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  border: none;
  border-radius: .2em;
  height: .4em;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #428bca;
  border: none;
  border-radius: 50%;
  height: 1.2em;
  margin-top: -.4em;
  width: 1.2em;
}

input[type="range"]:focus::-moz-range-track {
  background: #ccc;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #888;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ccc;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

label {
  cursor: pointer;
}

label[for] {
  font-weight: bold;
}

/**
 * 1. Reset the default appearance of select in Firefox 35+.
 * 2. Reset the default appearance of select in Chrome, Opera 15+, and Safari.
 * 3. Use a caret as the background:
 *    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" viewBox="0 0 20 32">
 *      <path d="M6 14h12l-6 6z"/>
 *    </svg>
 */

select {
  -moz-appearance: none; /* 1 */
  -webkit-appearance: none; /* 2 */
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDIwIDMyIj48cGF0aCBkPSJNNiAxNGgxMmwtNiA2eiIvPjwvc3ZnPg==") no-repeat scroll 100%; /* 3 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  height: 1.42857em;
}

select::-ms-expand {
  display: none;
}

select > option {
  padding: .2em .8em;
}

select[multiple],
select[size] {
  background: transparent;
  height: auto;
}

select[multiple] > option,
select[size] > option {
  padding: .2em .4em;
}

/**
 * Disable the glow box-shadow in Firefox
 */

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

/**
 * Placeholder style for Firefox 4-18.
 */

:-moz-placeholder {
  color: #999;
}

/**
 * Placeholder style for Firefox 19+.
 */

::-moz-placeholder {
  color: #999;
}

/**
 * Placeholder style for IE 10+.
 */

:-ms-input-placeholder {
  color: #999;
}

/**
 * Placeholder style for Chrome, Opera 15+, Safari.
 */

::-webkit-input-placeholder {
  color: #999;
}

/**
 * Placeholder style in CSS4.
 */

:placeholder-shown {
  color: #999;
}

:disabled,
[disabled] {
  background-color: #eee;
  opacity: .65;
  pointer-events: none;
}

::-moz-selection {
  background-color: #3071a9;
  color: #fff;
}

::selection { 
  background-color: #3071a9;
  color: #fff;
}

/* Tables
   ========================================================================== */

table {
  margin: 1.2em 0 1.6em;
  text-align: left;
}

thead {
  text-align: left;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: .6em .8em;
  vertical-align: middle;
}

tr:last-child > td {
  border-bottom: none;
}

/* ARIA
   ========================================================================== */
[aria-hidden="true"] {
  display: none;
}

/* Animations
   ========================================================================== */

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
