/*!
 * Effects
 */

/**
 * Trim white-space characters between inline-block elements.
 */

.ui-space-collapse {
  text-space-collapse: trim-inner;
}

.ui-space-collapse > a,
.ui-space-collapse > button,
.ui-space-collapse > label,
.ui-space-collapse > li > :only-child {
  border-left-width: 0;
  border-radius: 0;
}

.ui-space-collapse > a:first-child,
.ui-space-collapse > button:first-child,
.ui-space-collapse > div:first-child > button:first-of-type,
.ui-space-collapse > label:first-of-type,
.ui-space-collapse > li:first-child > :only-child {
  border-bottom-left-radius: .4rem;
  border-top-left-radius: .4rem;
}

.ui-space-collapse > a:last-child,
.ui-space-collapse > button:last-child,
.ui-space-collapse > div:last-child > button:last-of-type,
.ui-space-collapse > label:last-of-type,
.ui-space-collapse > li:last-child > :only-child {
  border-bottom-right-radius: .4rem;
  border-top-right-radius: .4rem;
}

.ui-space-collapse > a:first-child,
.ui-space-collapse > button:first-child,
.ui-space-collapse > div:first-child > button:first-of-type,
.ui-space-collapse > label:first-of-type,
.ui-space-collapse > li:first-child > :only-child {
  border-left-width: 1px;
}

.ui-border-none {
  border: none !important;
  border-radius: 0 !important;
}

.ui-border-bottom {
  border-bottom: 1px solid #ccc;
}

.ui-seamless-top:not(:empty) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui-seamless-bottom:not(:empty) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-frame-rounded,
.ui-frame-circular,
.ui-frame-stadium {
  border: 1px solid #ccc;
  padding: .4em .8em;
}

.ui-frame-rounded {
  border-radius: .4rem;
}

.ui-frame-circular {
  border-radius: 50%;
}

.ui-frame-stadium {
  border-radius: 1.11428em;
  line-height: 1.42857;
}

.ui-columns-seperated > li + li,
.ui-columns-seperated > div + div,
.ui-columns-seperated > span + span {
  border-left: 1px solid #ccc;
}

.ui-rows-seperated > li + li,
.ui-rows-seperated > div + div,
.ui-rows-seperated > span + span {
  border-top: 1px solid #ccc;
}

.ui-progress-striped::-moz-progress-bar {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 3em 3em;
}

.ui-progress-striped::-webkit-progress-value {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 3em 3em;
  background-size: 3em 3em;
}

.ui-rotate-90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ui-rotate-180 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-rotate-270 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ui-flip-horizontal {
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.ui-flip-vertical {
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
