/*!
 * Forms
 */

.ui-form-fluid,
.ui-form-horizontal {
  display: block;
}

.ui-form-fluid label {
  display: block;
  margin-bottom: .4rem;
}

.ui-form-fluid input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
.ui-form-fluid select,
.ui-form-fluid textarea {
  display: block;
  margin-bottom: 1.5rem;
  width: 96%;
  width: -moz-calc(100% - 1.6em - 2px);
  width: -webkit-calc(100% - 1.6em - 2px);
  width: calc(100% - 1.6em - 2px);
}

.ui-form-fluid textarea,
.ui-form-horizontal textarea {
  resize: vertical;
}

.ui-form-horizontal label[for] {
  padding: .4em 0;
  text-align: right;
}

.ui-form-horizontal input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
.ui-form-horizontal select,
.ui-form-horizontal textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  width: 100%;
}

.ui-form-horizontal input,
.ui-form-horizontal select {
  height: 2.34694em;
}

.ui-input-addon > button:first-child {
  margin-right: 0;
}

.ui-input-addon {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 2.34694em;
}

.ui-input-addon > :not(button):not(input) {
  border: 1px solid #ccc;
  border-radius: .4rem;
  padding: .4em .8em;
}

.ui-input-addon > input {
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.ui-input-addon > :first-child,
.ui-input-addon > input,
.ui-input-addon > :last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.ui-input-addon > input:not(:first-child) {
  border-left: none;
}

.ui-input-addon > input:not(:last-child) {
  border-right: none;
}

.ui-input-addon > :first-child,
.ui-input-addon > input:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ui-input-addon > input:not(:first-child),
.ui-input-addon > :last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ui-button-toolbar > .ui-button-group,
.ui-button-toolbar > .ui-button-switch {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.ui-button-toolbar > .ui-button-group:first-child,
.ui-button-toolbar > .ui-button-switch:first-child {
  margin-left: 0;
}

.ui-button-group > input[type="radio"],
.ui-button-group > input[type="checkbox"],
.ui-button-switch > input[type="checkbox"] {
  display: none;
}

.ui-button-switch {
  height: 2.34694em;
}

.ui-button-switch > label {
  border: 1px solid #ccc;
  border-radius: .4rem;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
}

.ui-button-switch > label > span {
  background-color: #ebebeb;
  display: inline-block;
  padding: .4em .8em;
  visibility: hidden;
}

.ui-button-switch > input:checked + label > span:first-child,
.ui-button-switch > input:not(:checked) + label > span:last-child {
  visibility: visible;
}

.ui-button-switch > input:checked ~ :not(label) {
  display: block;
}

.ui-button-group > label {
  border: 1px solid #ccc;
  border-radius: .4rem;
  display: inline-block;
  font-weight: normal;
  padding: .4em .8em;
}

.ui-button-group > div {
  display: inline-block;
}

.ui-button-group input:checked + label {
  background-color: #ebebeb;
}

.ui-button-block button {
  display: block;
  margin-top: .8em;
  padding: auto 0;
  width: 100%;
}

.ui-button-block button:first-child {
  margin-top: 0;
}

.ui-button-link {
  border: none;
  color: #428bca;
  padding: 0;
  text-align: left;
  white-space: normal;
}

.ui-button-link:hover,
.ui-button-link:focus {
  background-color: transparent;
  color: #3071a9;
}

.ui-button-link path {
  fill: #428bca;
}

.ui-button-link path:hover {
  fill: #3071a9;
}

.ui-link-disabled {
  color: #999;
  cursor: default;
  pointer-events: none;
}
