/*!
 * Images
 */

.ui-image-fluid {
  display: block;
  width: 100%;
}

.ui-image-circular {
  border-radius: 50%;
}

.ui-image-rounded {
  border-radius: .6rem;
}

.ui-image-thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .4rem;
  padding: .4rem;
}

.ui-image-lightbox {
  position: relative;
  display: inline-block;
}

.ui-image-lightbox span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  padding-top: 38%;
  line-height: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity .5s linear;
  background-color: rgba(0, 0, 0, .65);
}

.ui-image-thumbnail + span {
  border-radius: .4rem;
}

.ui-image-lightbox:hover span {
  opacity: 1;
}

.ui-lightbox-target {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
}

.ui-lightbox-target > figure,
.ui-lightbox-target > div {
  display: block;
  margin: 5% 10%;
  padding: 1em 2em;
  text-align: center;
  box-shadow: 0 0 1em #ccc;
  background-color: #fff;
  border-radius: .4rem;
}

.ui-lightbox-target:target {
  display: block;
}

.ui-lightbox-close {
  float: right;
  margin-top: -1.5em;
  margin-right: -1.5em;
}

.ui-lightbox-close::after {
  content: "\00d7";
  font-size: 150%;
}

