/*!
 * Images
 */

.ui-image-fluid {
  display: block;
  width: 100%;
}

.ui-image-circular {
  border-radius: 50%;
}

.ui-image-rounded,
.ui-image-thumbnail,
.ui-image-thumbnail + .ui-image-reveal {
  border-radius: .4rem;
}

.ui-image-thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .4rem;
}

.ui-image-lightbox {
  display: inline-block;
  position: relative;
}

.ui-image-lightbox > .ui-image-reveal {
  background-color: rgba(0, 0, 0, .65);
  bottom: 0;
  color: #fff;
  left: 0;
  line-height: 100%;
  opacity: 0;
  padding-top: 38%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -moz-transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.ui-image-lightbox:hover > .ui-image-reveal {
  opacity: 1;
}

.ui-lightbox-target {
  background-color: rgba(0, 0, 0, .65);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.ui-lightbox-target > figure,
.ui-lightbox-target > div {
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 0 1em #ccc;
  display: block;
  margin: 5% 10%;
  padding: 1em 2em;
  text-align: center;
}

.ui-lightbox-target:target {
  display: block;
}

.ui-lightbox-close {
  float: right;
  margin-right: -1.5em;
  margin-top: -1.5em;
}

.ui-lightbox-close::after {
  content: "\00d7";
  font-size: 150%;
}
