/*!
 * Menus
 */

.ui-menu-dropdown {
  position: relative;
}

.ui-menu-dropdown > .ui-placement-top {
  bottom: 100%;
  margin-bottom: -2.4em;
}

.ui-menu-dropdown > .ui-pull-left {
  margin-top: -2.4em;
  right: 100%;
}

.ui-menu-dropdown > .ui-pull-right {
  right: 0;
}

.ui-menu-dropdown > ul,
.ui-menu-selection > ul {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 999;
}

.ui-menu-dropdown > ul,
.ui-menu-selection > ul > li:not(:first-child) {
  display: none;
}

.ui-menu-dropdown > ul {
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.175);
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.ui-menu-dropdown > :first-child,
.ui-menu-selection > ul > li:first-child {
  cursor: pointer;
}

.ui-menu-dropdown:hover > .ui-placement-left,
.ui-menu-dropdown:hover > .ui-placement-right {
  display: inline-block;
  margin-top: -0.4em;
}

.ui-menu-dropdown:hover > ul,
.ui-menu-selection:hover > ul > li {
  display: block;
}

.ui-menu-dropdown > ul > li > a,
.ui-menu-dropdown > ul > li > span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.2em 0.8em;
  width: 100%;
}

.ui-menu-dropdown > ul > li > a:focus,
.ui-menu-dropdown > ul > li > a:hover,
.ui-menu-selection > ul > li:hover {
  background-color: #f5f5f5;
}

.ui-menu-selection {
  height: 2.5em;
}

.ui-menu-selection > ul {
  max-height: 20em;
  overflow: auto;
}

.ui-menu-selection > ul > li {
  padding: 0.4em 0.8em;
}

