/*!
 * Mobile
 */

@media (max-width: 991px) {
  .ui-mobile-hidden {
    display: none;
  }
  .ui-mobile-expand {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .ui-mobile-expand + .ui-mobile-expand:not(ul) {
    margin-top: 2em;
  }
  .ui-mobile-auto,
  .ui-mobile-collapse {
    width: auto;
  }
  .ui-mobile-collapse > :first-child {
    display: inline-block;
  }
  .ui-mobile-collapse > :not(:first-child) {
    display: none;
  }
  .ui-mobile-collapse:hover > :not(:first-child) {
    display: block;
  }
  .ui-mobile-reverse {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ui-tablet-hidden {
    display: none;
  }
  .ui-tablet-expand {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .ui-tablet-expand + .ui-tablet-expand:not(ul) {
    margin-top: 2em;
  }
}

@media (max-width: 767px) {
  .ui-phone-hidden {
    display: none;
  }
  .ui-phone-expand {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .ui-phone-expand + .ui-phone-expand:not(ul) {
    margin-top: 2em;
  }
}
