/*!
 * Mobile
 */

@media (max-width: 991px) {
  .ui-mobile-hidden {
    display: none;
  }
  .ui-mobile-expand {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .ui-mobile-expand + .ui-mobile-expand:not(ul) {
    margin-top: 1em;
  }
  .ui-mobile-doubling > .ui-grid-17,
  .ui-mobile-doubling > .ui-fluid-17 {
    width: 33.3333%;
  }
  .ui-mobile-doubling > .ui-grid-25,
  .ui-mobile-doubling > .ui-fluid-25 {
    width: 50%;
  }
  .ui-mobile-halving > .ui-box-tiny {
    width: 2em;
  }
  .ui-mobile-halving > .ui-box-small {
    width: 4em;
  }
  .ui-mobile-halving > .ui-box-medium {
    width: 8em;
  }
  .ui-mobile-halving > .ui-box-large {
    width: 16em;
  }
  .ui-mobile-halving > .ui-box-huge {
    width: 24em;
  }
  .ui-mobile-auto,
  .ui-mobile-collapse {
    width: auto;
  }
  .ui-mobile-collapse > :first-child {
    display: inline-block;
  }
  .ui-mobile-collapse > :not(:first-child) {
    display: none;
  }
  .ui-mobile-collapse:hover > :not(:first-child) {
    display: block;
  }
  .ui-mobile-reverse {
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (max-width: 767px) {
  .ui-phone-hidden {
    display: none;
  }
  .ui-phone-expand {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .ui-phone-expand + .ui-phone-expand:not(ul) {
    margin-top: 1em;
  }
  .ui-phone-doubling > .ui-grid-17,
  .ui-phone-doubling > .ui-fluid-17 {
    width: 33.3333%;
  }
  .ui-phone-doubling > .ui-grid-25,
  .ui-phone-doubling > .ui-fluid-25 {
    width: 50%;
  }
  .ui-phone-halving > .ui-box-tiny {
    width: 2em;
  }
  .ui-phone-halving > .ui-box-small {
    width: 4em;
  }
  .ui-phone-halving > .ui-box-medium {
    width: 8em;
  }
  .ui-phone-halving > .ui-box-large {
    width: 16em;
  }
  .ui-phone-halving > .ui-box-huge {
    width: 24em;
  }
}
