/*!
 * Shapes
 */

.ui-caret-down,
.ui-caret-left,
.ui-caret-right,
.ui-caret-up {
  border: 0.5rem solid transparent;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.ui-caret-down {
  border-bottom: none;
  border-top-color: #333;
}

.ui-caret-left {
  border-left: none;
  border-right-color: #333;
}

.ui-caret-right {
  border-left-color: #333;
  border-right: none;
}

.ui-caret-up {
  border-bottom-color: #333;
  border-top: none;
}

.ui-seperator-horizontal {
  background-color: #e5e5e5;
  height: 1px;
  margin: 0.4em 0;
  overflow: hidden;
}

.ui-seperator-vertical {
  border-right: 1px solid #e5e5e5;
  margin: 0 0.4em;
  width: 0;
}

.ui-seperator-raquo > li + li::before {
  content: "\00bb\00a0";
}

.ui-seperator-bullet > li + li::before {
  content: "\2022\00a0";
}

.ui-seperator-vbar > li + li::before {
  content: "|\00a0";
}

.ui-tooltip-top,
.ui-tooltip-right,
.ui-tooltip-bottom,
.ui-tooltip-left {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.4em 0.8em;
  position: relative;
}

.ui-tooltip-top::before,
.ui-tooltip-right::before,
.ui-tooltip-bottom::before,
.ui-tooltip-left::before {
  border: 0.7em solid transparent;
  content: " ";
  position: absolute;
}

.ui-tooltip-top::after,
.ui-tooltip-right::after,
.ui-tooltip-bottom::after,
.ui-tooltip-left::after {
  border: 0.6em solid transparent;
  content: " ";
  position: absolute;
}

.ui-tooltip-top::before {
  border-top-color: #ccc;
  left: 50%;
  margin-left: -0.7em;
  top: 100%;
}

.ui-tooltip-top::after {
  border-top-color: #fff;
  left: 50%;
  margin-left: -0.6em;
  top: 100%;
}

.ui-tooltip-right::before {
  border-right-color: #ccc;
  margin-top: -0.7em;
  right: 100%;
  top: 50%;
}

.ui-tooltip-right::after {
  border-right-color: #fff;
  margin-top: -0.6em;
  right: 100%;
  top: 50%;
}

.ui-tooltip-bottom::before {
  border-bottom-color: #ccc;
  bottom: 100%;
  left: 50%;
  margin-left: -0.7em;
}

.ui-tooltip-bottom::after {
  border-bottom-color: #fff;
  bottom: 100%;
  left: 50%;
  margin-left: -0.6em;
}

.ui-tooltip-left::before {
  border-left-color: #ccc;
  left: 100%;
  margin-top: -0.7em;
  top: 50%;
}

.ui-tooltip-left::after {
  border-left-color: #fff;
  left: 100%;
  margin-top: -0.6em;
  top: 50%;
}

.ui-tooltip-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  margin: -0.4em -0.8em 0;
  padding: 0.6em 0.8em;
}

.ui-tooltip-header > h4,
.ui-tooltip-body > .ui-table-fluid {
  margin: 0;
}

.ui-tooltip-body {
  margin: 0 -0.8em;
}

.ui-tooltip-body > p {
  margin: 0.6em 0.8em;
}

.ui-tooltip-body > .ui-list-group {
  border: none;
  margin-bottom: 0;
  width: 100%;
}
