/*!
 * Tables
 */

.ui-table-fluid {
  width: 100%;
}

.ui-table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 0.4rem;
}

.ui-table-bordered th + th,
.ui-table-bordered td + td {
  border-left: 1px solid #ddd;
}

.ui-table-hover tr:hover,
.ui-table-hover tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.ui-table-columns-2 th,
.ui-table-columns-2 td:first-child {
  width: 33.3333%;
}

.ui-table-columns-3 th,
.ui-table-columns-3 td:first-child {
  width: 20%;
}
