/*!
 * Typography
 */

/**
 * Known issue: Chrome's default setting of minimum font-size is 12px.
 */

.ui-font-base {
  font-size: 1rem;
}

.ui-font-tiny {
  font-size: 0.8rem;
}

.ui-font-small {
  font-size: 1.2rem;
}

.ui-font-medium {
  font-size: 1.4rem;
}

.ui-font-large {
  font-size: 1.6rem;
}

.ui-font-huge {
  font-size: 2rem;
}

.ui-zoom-tiny {
  font-size: 50%;
}

.ui-zoom-small {
  font-size: 80%;
}

.ui-zoom-medium {
  font-size: 100%;
}

.ui-zoom-large {
  font-size: 125%;
}

.ui-zoom-huge {
  font-size: 150%;
}

.ui-zoom-2x {
  font-size: 200%;
}

.ui-zoom-3x {
  font-size: 300%;
}

.ui-zoom-4x {
  font-size: 400%;
}

.ui-zoom-5x {
  font-size: 500%;
}

.ui-zoom-10x {
  font-size: 1000%;
}

.ui-text-normal { 
  line-height: 1.42857;
}

.ui-text-center {
  text-align: center;
}

.ui-text-justify {
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.ui-text-nowrap {
  white-space: nowrap;
}

.ui-text-lowercase {
  text-transform: lowercase;
}

.ui-text-uppercase {
  text-transform: uppercase;
}

.ui-text-capitalize {
  text-transform: capitalize;
}

.ui-text-left {
  text-align: left;
}

.ui-text-right {
  text-align: right;
}

/**
 * Left and right on the same line.
 */

.ui-text-left-right {
  text-align: right !important;
}

.ui-text-left-right > :first-child {
  float: left !important;
}

/**
 * `display:none` has bad implications for screen readers.
 */

.ui-text-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Set invisible elements which still take up space.
 */

.ui-text-invisible {
  visibility: hidden;
}

.ui-text-button,
.ui-content-link {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .4rem;
  cursor: pointer;
}

.ui-text-button {
  display: inline-block;
  padding: .4em .8em;
  text-align: center;
  white-space: nowrap;
}

.ui-text-button:hover,
.ui-text-button:focus,
.ui-content-link:hover,
.ui-content-link:focus {
  background-color: #ebebeb;
}

.ui-text-label,
.ui-text-badge {
  color: #fff;
  background-color: #999;
  border-radius: .4rem;
  display: inline-block;
  line-height: 100%;
  padding: .4em;
}

.ui-text-label[href]:hover,
.ui-text-label[href]:focus {
  background-color: #808080;
}

.ui-text-badge {
  font-weight: bold;
  font-size: 80%;
  text-align: center;
  white-space: nowrap;
}

.ui-text-badge:empty {
  display: none;
}

.ui-text-list {
  display: inline-block;
}

.ui-text-list > a + a,
.ui-text-list > span + span {
  display: inline-block;
  margin-left: .8em;
}

.ui-header-primary {
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: .2em;
  font-weight: normal;
  border-bottom: .1em double #ccc;
}

.ui-header-secondary {
  padding-bottom: .1em;
  border-bottom: 1px solid #ccc;
}

.ui-header-compact {
  margin: .2em auto;
  line-height: 1.42857;
}

.ui-content-post {
  margin: 1em 0 2em;
}

.ui-content-post h1,
.ui-content-post h2,
.ui-content-post h3,
.ui-content-post h4 {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.ui-content-post figure,
.ui-content-post img,
.ui-content-post svg {
  display: block;
  margin: 1em auto;
  text-align: center;
}

.ui-content-link > a {
  display: table-cell !important;
  float: none !important;
  width: 1%;
}

.ui-content-highlight {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: .4rem;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
  display: block;
  padding: .4em .8em;
}

.ui-content-highlight blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}

.ui-content-jumbotron {
  background-color: #eee;
  border-radius: .8rem;
  display: block;
  padding: 2em;
}

.ui-content-jumbotron p {
  font-size: 150%;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.ui-content-alert {
  border: 1px solid #ccc;
  border-radius: .4rem;
  padding: 1.2em;
  margin-bottom: 2rem;
}

.ui-content-alert > :first-child {
  margin-top: 0;
}

.ui-content-alert > :last-child {
  margin-bottom: 0;
}

.ui-content-alert a {
  font-weight: bold;
}

.ui-content-alert a:hover {
  text-decoration: underline;
}

.ui-content-panel {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .4rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.ui-content-panel h4 {
  margin: 0;
}

.ui-panel-header {
  background-color: #f5f5f5;
  border-bottom: inherit;
  padding: .6em .8em;
}

.ui-panel-body p {
  margin: .6em .8em;
}

.ui-panel-body .ui-list-group {
  width: 100%;
  margin: 0;
  border: none;
}

.ui-panel-body .ui-table-fluid {
  margin: 0;
}

.ui-panel-footer {
  background-color: #f5f5f5;
  border-top: inherit;
  padding: .6em .8em;
}

.ui-panel-footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.ui-content-media {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.ui-media-object.ui-float-left,
.ui-media-object:first-child:not(.ui-float-right) {
  float: left;
  margin-right: 1.5rem;
}

.ui-media-object.ui-float-right,
.ui-media-object:last-child:not(.ui-float-left) {
  float: right;
  margin-left: 1.5rem;
}

.ui-media-body {
  display: table-cell !important;
  float: none !important;
  vertical-align: top;
}

.ui-media-body h4 {
  margin-top: 0;
  margin-bottom: .5em;
}

/**
 * Trim white-space characters between inline-block elements.
 */

.ui-space-collapse {
  text-space-collapse: trim-inner;
}

.ui-list-unstyled,
.ui-list-inline,
.ui-list-group {
  list-style: none;
  padding-left: 0;
}

.ui-list-inline > li {
  display: inline-block;
}

.ui-list-inline > li + li {
  margin-left: .8em;
}

.ui-list-inline > li + li::before {
  margin-right: .6em;
}

.ui-list-indent dd {
  margin-left: 2em;
}

.ui-list-horizontal dt {
  clear: left;
  float: left;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10em;
}

.ui-list-horizontal dd {
  margin-left: 12em;
}

.ui-list-numbered {
  counter-reset: list-counter;
}

.ui-list-numbered > dt::before {
  content: counter(list-counter) ". ";
  counter-increment: list-counter;
}

.ui-list-group {
  border: 1px solid #ccc;
  border-radius: .4rem;
  display: inline-block;
}

.ui-list-group > li {
  padding: .4em .8em;
}

.ui-list-group > a {
  display: block;
  line-height: 1.71428;
  padding: .4em .8em;
}

.ui-list-group > li + li,
.ui-list-group > a + a {
  border-top: 1px solid #ccc;
}

.ui-list-group h4 {
  margin: 0;
}

.ui-list-group p {
  margin-top: 0;
}

.ui-book-contents ol {
  counter-reset: section;
  list-style-type: none;
}

.ui-book-contents > ol {
  padding-left: 0;
}

.ui-book-contents li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}

