/*!
 * Typography
 */

.ui-font-normal {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

/**
 * Known issue: Chrome's default setting of minimum font-size is 12px.
 */

.ui-font-base {
  font-size: 1rem;
}

.ui-font-tiny {
  font-size: 0.8rem;
}

.ui-font-small {
  font-size: 1.2rem;
}

.ui-font-medium {
  font-size: 1.4rem;
}

.ui-font-large {
  font-size: 1.6rem;
}

.ui-font-huge {
  font-size: 2rem;
}

.ui-zoom-tiny {
  font-size: 50%;
}

.ui-zoom-small {
  font-size: 80%;
}

.ui-zoom-medium {
  font-size: 100%;
}

.ui-zoom-large {
  font-size: 125%;
}

.ui-zoom-huge {
  font-size: 150%;
}

.ui-zoom-2x {
  font-size: 200%;
}

.ui-zoom-3x {
  font-size: 300%;
}

.ui-zoom-4x {
  font-size: 400%;
}

.ui-zoom-5x {
  font-size: 500%;
}

.ui-zoom-10x {
  font-size: 1000%;
}

.ui-text-normal {
  line-height: 1.42857;
}

.ui-text-center {
  text-align: center;
}

.ui-text-justify {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

.ui-text-indent {
  text-indent: 2em;
}

.ui-text-left {
  text-align: left;
}

.ui-text-right {
  text-align: right;
}

/**
 * Left and right on the same line.
 */

.ui-text-left-right {
  text-align: right !important;
}

.ui-text-left-right > :first-child {
  float: left !important;
}

.ui-text-top {
  vertical-align: top;
}

.ui-text-middle {
  vertical-align: middle;
}

.ui-text-bottom {
  vertical-align: bottom;
}

.ui-text-capitalize {
  text-transform: capitalize;
}

.ui-text-lowercase {
  text-transform: lowercase;
}

.ui-text-uppercase {
  text-transform: uppercase;
}

.ui-text-break {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.ui-text-nowrap {
  white-space: nowrap;
}

.ui-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * `display:none` has bad implications for screen readers.
 */

.ui-text-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Set invisible elements which still take up space.
 */

.ui-text-invisible {
  visibility: hidden;
}

.ui-text-button,
.ui-content-link {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 0.4em 0.8em;
}

.ui-text-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.ui-text-button:hover,
.ui-text-button:focus,
.ui-content-link:hover,
.ui-content-link:focus {
  background-color: #ebebeb;
}

.ui-text-label,
.ui-text-badge {
  background-color: #999;
  color: #fff;
  display: inline-block;
  line-height: 100%;
  padding: 0.2em 0.4em;
}

.ui-text-label {
  border-radius: 0.2em;
}

.ui-text-label[href]:hover,
.ui-text-label[href]:focus {
  background-color: #808080;
}

.ui-text-badge {
  border-radius: 0.8em;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.ui-text-badge:empty {
  display: none;
}

.ui-text-list {
  display: inline-block;
}

.ui-text-list > a + a,
.ui-text-list > span + span {
  display: inline-block;
  margin-left: 0.8em;
}

.ui-header-primary {
  border-bottom: 0.1em double #ccc;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;
  padding-bottom: 0.2em;
}

.ui-header-secondary {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.1em;
}

.ui-header-compact {
  line-height: 1.42857;
  margin: 0.2em auto;
}

.ui-list-group,
.ui-list-inline,
.ui-list-unstyled {
  list-style: none;
  padding-left: 0;
}

.ui-list-group {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: inline-block;
}

.ui-list-group > a,
.ui-list-group > li > a {
  display: block;
}

.ui-list-group > a,
.ui-list-group > li {
  line-height: 1.81924;
  padding: 0.4em 0.8em;
}

.ui-list-group > a:first-child,
.ui-list-group > li:first-child {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.ui-list-group > a:last-child,
.ui-list-group > li:last-child {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.ui-list-group > a + a,
.ui-list-group > li + li {
  border-top: 1px solid #ccc;
}

.ui-list-group h4 {
  margin: 0;
}

.ui-list-group p {
  margin-top: 0;
}

.ui-list-inline > li {
  display: inline-block;
}

.ui-list-inline > li + li {
  margin-left: 0.8em;
}

.ui-list-inline > li + li::before {
  margin-right: 0.6em;
}

.ui-list-indent > dd {
  margin-left: 2em;
}

.ui-list-horizontal > dt {
  clear: left;
  float: left;
  text-align: right;
  white-space: nowrap;
  width: 10em;
}

.ui-list-horizontal > dd {
  margin-left: 12em;
}

.ui-list-numbered {
  counter-reset: list;
}

.ui-list-numbered > dt::before {
  content: counter(list) ". ";
  counter-increment: list;
}

.ui-list-bibliography {
  counter-reset: citation;
  list-style: none;
  padding-left: 1.6em;
}

.ui-list-bibliography > li::before {
  content: "[" counter(citation) "]\2002";
  counter-increment: citation;
  margin-left: -1.6em;
}

.ui-content-link > a,
.ui-content-link > a > div {
  display: table-cell !important;
  float: none !important;
  vertical-align: middle;
}

.ui-content-link > a {
  width: 1%;
}

.ui-content-link > a > div + div {
  padding-left: 0.8em;
}

.ui-content-highlight {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  display: block;
  padding: 0.4em 0.8em;
}

.ui-content-highlight blockquote {
  border-color: rgba(0, 0, 0, 0.15);
}

.ui-content-jumbotron {
  background-color: #eee;
  border-radius: 0.8rem;
  display: block;
  padding: 2em;
}

.ui-content-jumbotron p {
  font-size: 150%;
  margin-bottom: 1.5rem;
}

.ui-content-alert {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  padding: 1.2em;
}

.ui-content-alert > p:first-child {
  margin-top: 0;
}

.ui-content-alert > p:last-child {
  margin-bottom: 0;
}

.ui-content-alert a {
  font-weight: bold;
}

.ui-content-alert a:hover {
  text-decoration: underline;
}

.ui-content-panel {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.ui-panel-header > h4,
.ui-panel-body > .ui-table-fluid,
.ui-panel-footer > p {
  margin: 0;
}

.ui-panel-header,
.ui-panel-footer {
  background-color: #f5f5f5;
  padding: 0.6em 0.8em;
}

.ui-panel-header {
  border-bottom: inherit;
}

.ui-panel-footer {
  border-top: inherit;
}

.ui-panel-body > p {
  margin: 0.6em 0.8em;
}

.ui-panel-body > .ui-list-group {
  border: none;
  margin-bottom: 0;
  width: 100%;
}

.ui-content-media {
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: hidden;
}

.ui-media-object:first-child:not(.ui-float-right) {
  float: left;
  margin-right: 1.5rem;
}

.ui-media-object:last-child:not(.ui-float-left) {
  float: right;
  margin-left: 1.5rem;
}

.ui-media-body {
  display: table-cell !important;
  float: none !important;
  vertical-align: top;
}

.ui-media-body h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.ui-article-body {
  margin: 1em 0 2em;
}

.ui-article-body h1,
.ui-article-body h2,
.ui-article-body h3,
.ui-article-body h4,
.ui-article-heading {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.ui-article-body figure,
.ui-article-body img,
.ui-article-body svg,
.ui-article-image {
  display: block;
  margin: 1em auto;
  text-align: center;
}

.ui-article-contents ol {
  counter-reset: section;
  list-style-type: none;
}

.ui-article-contents > ol {
  padding-left: 0;
}

.ui-article-contents li::before {
  content: counters(section, ".") " ";
  counter-increment: section;
}
