
extends ../eprint

block prepend variables
  - var pageID = 'reviews'

block content
  .ui-container-grid
    .ui-grid-70.ui-mobile-expand
      block review
    .ui-grid-30.ui-mobile-expand.ui-phone-hidden
      block aside

block append foot
  include ../../mathjax
